<template name="adminCategories">
	<p class="dropdown">
		<label> Choose category: </label>
        <a  class="dropdown-toggle" data-toggle="dropdown">
        	{{currentCategory.name}}
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu">
        	{{> categoriesSidebar redirect=false level=0}}
        </div>
    </p>
    {{#with currentCategory}}
        {{> adminCategoriesItem}}
    {{/with}}
</template>




<template name="adminCategoriesItem">
    <div class="panel panel-default" style="margin: 5px;">
        <div class="panel-body categories-form">

        {{> errors}}
        {{#if categoryLevel}}
            <div class="row">
                <div class="col-sm-4">
                    <label class="pull-right">Name:</label>
                </div>
                <div class="col-sm-8">
                    <input id="category-name" type="text" placeholder="Name" class="form-control form-control-inline " value="{{name}}">
                </div>
            </div>
        {{else}}
            <div class="row">
                <div class="col-sm-4">
                    <label class="pull-right">Name:</label>
                </div>
                <div class="col-sm-8 root-name">
                    {{name}}
                </div>
            </div>
        {{/if}}
        <div class="row">
            <div class="col-sm-4">
                <label class="pull-right"> Subcategories: </label>
            </div>
            <div class="col-sm-8">
                {{#if isEqual categoryLevel '2'}}
                    <p class="cat-3-level">You can have only 2 category levels</p>
                {{else}}
                <input id="subcategory-name" type="text" placeholder="New subcategory" class="form-control form-control-inline ">
                <a href="#" class="btn btn-default add-subcategory-button">
                        <span class="glyphicon glyphicon-plus" style="color:green;"> </span>
                </a>
                {{#each subCats}}
                    <p>{{name}}</p>
                {{/each}}
                {{/if}}
            </div>
        </div>
        <br>
        {{#if categoryLevel}}
            <a href="#" class="btn btn-default pull-right category-apply-button">
                <span class="glyphicon glyphicon-ok" style="color:green;"> </span>
                Apply
            </a>
            <a href="#" class="btn btn-default pull-right category-remove-button">
                <span class="glyphicon glyphicon-trash"> </span>
                Delete
            </a>
        {{/if}}
        </div>
    </div>
</template>