<template name="filters">
	<div class="panel panel-default filters">
		<div class="panel-body form-inline">
			<div class="row ">
				<div class="form-group">
					<div class="form-group price-filter">
						Prices:
						<input type="number" name="priceFrom" class="form-control" />
						-				
						<input type="number" name="priceTo" class="form-control" />
					</div>
					<div class="form-group sort-filter">
						Sort by:
						<select name="sort" class="form-control">
							<option value="none"></option>
							<option value="price-asc">Prices ascending</option>
							<option value="price-desc">Prices descending</option>
							<option value="name-asc">Names ascending</option>
							<option value="name-desc">Names descending</option>
						</select>
					</div>
				</div>
				<div class="filter-buttons pull-right">
					<a class="btn btn-default apply">
						Apply filters
						<span class="glyphicon glyphicon-ok" style="color:green;">
						</span>
					</a>
				</div>
			</div>
			<div class="row">

			</div>
		</div>
	</div>
</template>