<template name="category">
	<div class="row">
        <div class="col-sm-3 sidebar" >
        	{{> categoriesSidebar redirect=true level=1}}
        </div>
        <div class="col-sm-9" >
        	<div class="container-fluid product-list">
                {{> filters}}
    			<div class="row">
    				{{#each categoryProducts}}
    					{{> productListItem}}
    				{{/each}}
    			</div>
                {{#if nextPath}}
                    <a class="load-more" href="{{nextPath}}">Load more</a>
                {{/if}}
    		</div>
        </div>
    </div>
</template>