<template name="adminSettings">
<div class="panel panel-default" style="margin: 5px;">
    <div class="panel-heading">
        <h4> Email settings </h4>
    </div>
	<div class="panel-body settings">
		{{> errors}}
        <div class="row">
            <div class="col-sm-4">
                <label class="pull-right">Email:</label>
            </div>
            <div class="col-sm-8">
                <input id="settings-email-name" type="text" placeholder="Email" class="form-control form-control-inline" value="{{email}}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="pull-right">Password:</label>
            </div>
            <div class="col-sm-8">
                <input id="settings-email-pass" type="password" placeholder="Password" class="form-control form-control-inline" value="{{password}}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="pull-right">Smtp:</label>
            </div>
            <div class="col-sm-8">
                <input id="settings-email-smtp" type="text" placeholder="Smtp server" class="form-control form-control-inline" value="{{smtp}}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="pull-right">Port:</label>
            </div>
            <div class="col-sm-8">
                <input id="settings-email-port" type="number" placeholder="Port" class="form-control form-control-inline" value="{{port}}">
            </div>
        </div>
        

        <a href="#" class="btn btn-default pull-right settings-apply-button">
            <span class="glyphicon glyphicon-ok" style="color:green;"> </span>
            Apply changes
        </a>
	</div>
</div>

<div class="panel panel-default" style="margin: 5px;">
    <div class="panel-heading">
        <h4> Payments </h4>
    </div>
	<div class="panel-body">
		{{> paymentOrDeliveryAddTemplate payment=true}}
		{{#each payments}}
			{{> paymentOrDeliveryRowTemplate _id=_id name=name price=price payment=true}}
		{{/each}}
	</div>
</div>

<div class="panel panel-default" style="margin: 5px;">
    <div class="panel-heading">
        <h4> Deliveries </h4>
    </div>
	<div class="panel-body">
		{{> paymentOrDeliveryAddTemplate}}
		{{#each deliveries}}
			{{> paymentOrDeliveryRowTemplate _id=_id name=name price=price}}
		{{/each}}
	</div>
</div>
</template>


<template name="paymentOrDeliveryRowTemplate">
	<div class="row">
			<div class="col-sm-4"></div>
			{{#if payment}}
				<div class="col-sm-7 payment name-value">
			        {{name}}
			    </div>
			{{else}}
				<div class="col-sm-5 delivery name-value">
			        {{name}}
			    </div>
			    <div class="col-sm-2 delivery price-value">  
			    	{{#if price}}    
			        	<div>{{price}}zł</div> 
			        {{else}}
			        	-     
			        {{/if}} 
			    </div>
			{{/if}}
			{{#if displayCloseBtn}}
			    <div class="col-sm-1">
			    	<button type="button" class="close">&times;</button>
			    </div>
		    {{/if}}
		    
    </div>
</template>

<template name="paymentOrDeliveryAddTemplate">
	<div class="row payment-delivery-form">
	    <div class="col-sm-4">
	        <label class="pull-right"> Add new: </label>
	    </div>
	    <div class="col-sm-8">
	    	{{#if payment}}
	    		<input id="payment-new-name" type="text" placeholder="Name" class="form-control form-control-inline ">
	    	{{else}}
	    		<input id="delivery-new-name" type="text" placeholder="Name" class="form-control form-control-inline ">
	        	<input id="delivery-new-price" type="number" placeholder="Price" class="form-control form-control-inline ">
	    	{{/if}}
	        
	        <a href="#" class="btn btn-default add-value-button">
	                <span class="glyphicon glyphicon-plus" style="color:green;"> </span>
	        </a>
	    </div>
	</div>
</template>
