<template name="adminProductList">
	<div class="container-fluid admin-product-list">
		<div class="row add-item">
			<div class="col-sm-12">
				<a href="{{pathFor 'adminProductNew'}}" class="btn btn-default pull-right new-prod">
					<span class="glyphicon glyphicon-plus" style="color:green;"> </span>
					Add product
				</a>
				{{> searchBar}}
			</div>
		</div>
		{{> filters}}

		<div class="row table-container">
			<table class="table table-responsive table-striped">
				<thead>
					<tr>
						<th>Image</th>
						<th>Name</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{{#each products}}
						{{> adminProductItem}}
					{{/each}}
				</tbody>
			</table>
		</div>
		{{#if nextPath}}
            <a class="load-more" href="{{nextPath}}" >Load more</a>
        {{/if}}

	</div>
</template>

<template name="adminProductItem">
	<tr class="admin-product">
	    <td><img src="/{{path}}"></td>
	    <td>{{name}} </td>
	    <td>{{price}}zł </td>
	    <td>
			<a class="btn btn-default" href="{{pathFor 'adminProductEdit'}}">
				<span class="glyphicon glyphicon-pencil"></span>
				Edit
			</a>
		</td>
	</tr>
</template>