<template name="adminProductEdit">
<div class="panel panel-default" style="margin: 5px;">
	<div class="panel-heading">
    	<h4>Product : {{name}} (#{{_id}})</h4>
        <div class="btn-group pull-right">
            <a href="#product-general" data-toggle="tab" class="btn btn-default btn-sm">General</a>
            <a href="#product-attributes" data-toggle="tab" class="btn btn-default btn-sm">Attributes</a>
        </div>
    </div>
	<div  class="panel-body default-form product-form">
		{{> errors}}
		<div class="tab-content">
        	<div class="tab-pane fade in active" id="product-general">
				<div class="row image">
		            <div class="col-sm-4 vcenter">
		            	<label class="pull-right">Image:</label>
		            </div>
		            <div class="col-sm-8 vcenter">
		            
				{{#if isImageAdded}}
						<div style="width: 200px; height:100px;">
							<img src="{{imagePath}}" style=" width: 200px; height:100px; position:absolute;"/>
							<button type="button" class="close close-product-image">&times;</button>
						</div>
				{{else}}
						{{#with currentUpload}}
					    	Uploading <b>{{file.name}}</b>: 
					    	<span id="progress btn btn-default">{{progress.get}}%</span>
						{{else}}
						    <input id="fileInput" type="file" />
						{{/with}}
				{{/if}}
					</div>
				</div>

				<div class="row">
		            <div class="col-sm-4">
		                <label class="pull-right">Name:</label>
		            </div>
		            <div class="col-sm-8">
		                <input id="form-product-name" type="text" placeholder="Name" class="form-control form-control-inline" value="{{name}}">
		            </div>
		        </div>

		        <div class="row">
		            <div class="col-sm-4">
		                <label class="pull-right">Price:</label>
		            </div>
		            <div class="col-sm-8">
		                <input id="form-product-price" type="number" placeholder="Price" class="form-control form-control-inline" value="{{price}}">
		            </div>
		        </div>

		        <div class="row">
		            <div class="col-sm-4">
		                <label class="pull-right">Category:</label>
		            </div>
		            <div class="col-sm-8">
		                <p class="dropdown">
					        <a  class="dropdown-toggle" data-toggle="dropdown">
					        	{{#with currentCategory}}
					        		{{name}}
					        	{{/with}}
					            <span class="caret"></span>
					        </a>
					        <div class="dropdown-menu">
					        	{{> categoriesSidebar redirect=false level=0}}
					        </div>
					    </p>
		            </div>
		        </div>

	        </div>
	        <div class="tab-pane fade" id="product-attributes">
	        	{{#each selectedAttributes}}
	        		{{> adminProductAttribute}}
		        {{/each}}
		        {{#if unselectedAttributes}}
		        <div class="row">
				    <div class="col-sm-4">
				        <label class="pull-right">New attribute:</label>
				    </div>
				    <div class="col-sm-8">
				    	 <select id="attribute" class="form-control form-control-inline">
		                    {{#each unselectedAttributes}}
		                        <option value="{{_id}}">{{name}}</option>
		                    {{/each}}
		                </select>

		                <a href="#" class="btn btn-default add-attribute-button">
		                        <span class="glyphicon glyphicon-plus" style="color:green;"> </span>
		                </a>
				    </div>
				</div>
				{{/if}}
	        </div>
    	</div>
        <br>
		<a href="{{pathFor 'adminProductList'}}" class="btn btn-default pull-left">
			<span class="glyphicon glyphicon-arrow-left"> </span>
			Back to list
		</a>
		{{#if isEditedItem}}
		<a href="#" class="btn btn-default pull-right product-apply-button">
			<span class="glyphicon glyphicon-ok" style="color:green;"> </span>
			Apply
		</a>
		<a href="#" class="btn btn-default pull-right product-remove-button">
			<span class="glyphicon glyphicon-trash"> </span>
			Delete
		</a>
		{{else}}
		<a href="#" class="btn btn-default pull-right add-product-button">
			<span class="glyphicon glyphicon-plus" style="color:green;"> </span>
			Add
		</a>
		{{/if}}
	</div>
</div>
</template>

<template name="adminProductAttribute">
<div class="row">
    <div class="col-sm-4">
        <label class="pull-right">{{name}}:</label>
    </div>
    <div class="col-sm-6">
    	{{#if isTypeOf 'numeric'}}
    		<input name="{{_id}}" type="number" placeholder="{{name}}" class="form-control form-control-inline" value="{{value}}"> {{unit}}
    	{{/if}}
    	{{#if isTypeOf 'text'}}
    		<input name="{{_id}}" type="text" placeholder="{{name}}" class="form-control form-control-inline" value="{{value}}">
    	{{/if}}
    	{{#if isTypeOf 'single'}}
    		{{#each values}}
    			<div class="col-sm-6">
    				<label class="radio-inline"><input type="radio" name="{{../_id}}" value="{{this}}" checked="{{isChecked}}">{{this}}</label>
    			</div>
    		{{/each}}
    	{{/if}}
    	{{#if isTypeOf 'multi'}}
    		{{#each values}}
	    		<div class="col-sm-6">
	    			<label class="checkbox-inline"><input type="checkbox" name="{{../_id}}" value="{{this}}" checked="{{isChecked}}">{{this}}</label>
    			</div>
    		{{/each}}
    	{{/if}}
    </div>
    <div class="col-sm-2">
    	<a href="#" class="btn btn-default pull-left remove-attribute-button">
			<span class="glyphicon glyphicon-trash"> </span>
		</a>
    </div>
</div>
</template>