<template name="dropdownMenu">
	<div class="dropdown-menu pull-right" >
		{{#if currentUser}}
		<div class="col-sm-12">
			{{#if isAdmin}}
				<a href="{{pathFor 'admin'}}" class="btn btn-primary col-sm-12">Admin panel</a>
			{{/if}}
			<a  href="{{pathFor 'manageAccount'}}" class="btn btn-primary col-sm-12">Manage account</a>
			<a  onclick="Meteor.logout();" class="btn btn-primary col-sm-12">Log out</a>
		</div>
		{{else}}
		<form name="login-form">
			{{> errors}}
			<input id="login-username" type="text" placeholder="Username" class="form-control">
			<input id="login-password" type="password" placeholder="Password" class="form-control">
				<a class="btn btn-primary col-sm-12" id="login-sign-in">
					Sign in	
				</a>
				<div id="login-other-options">
					<a href="{{pathFor 'registerUser'}}" id="signup-link" class="pull-right">Create account</a>
				</div>
		</form>
		{{/if}}
	</div>
</template>
