.admin-product{
	margin: 10px;
	border-bottom: gray 1px solid;
}

.row.add-item{
	border-bottom: gray 1px solid;
	padding: 10px;
}

.admin-product img{
	width: 50px;
	height: 50px;
}

.product-form input,.product-form .upload-file, .product-form a{
	margin: 5px 0 5px;
}
.product-form label, .product-form p.dropdown{
	margin-top: 10px;
}
.product-form .image{
	margin-bottom: 15px;
}

.form-control-inline , .form-control.inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.category-panel{
	margin-right: 15px;
}

.categories-form .row label, .categories-form .root-name{
	margin-top: 5px;
}

.categories-form .cat-3-level{
	margin-top: 5px;
	color: red;
}

.vcenter{
    vertical-align: middle;
}


.attribute-form:not(:first-child) label{
	margin-top: 10px;
}

.attr-value{
	width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	
}

#product-attributes .row{
	margin-top: 5px;
}


